@tailwind base;
@tailwind components;
@tailwind utilities;

.neon-border {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 10px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.neon-border::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid rgba(83, 251, 11, 0.5);
  box-shadow: 0 0 20px rgba(83, 251, 11, 0.5);
  animation: rotate 5s linear infinite reverse;
}